@model Exercises.Models.Data.State
@{
    ViewBag.Title = "EditState";
}

<h2>EditState</h2>
<div class="row">

    <div class=" col-xs-12">
        
        @Html.ActionLink("Return to States List", "States", "Admin")
    </div>

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
            <div class="form-group">
                <label>State Abbreviation</label>
                @Html.TextBoxFor(s => s.StateAbbreviation, new { @class = "form-control", placeholder = "State Abbreviation" })
                <span class="text-danger">@Html.ValidationMessageFor(s => s.StateAbbreviation)</span>
                <p></p>
                <label>State Name</label>
                @Html.TextBoxFor(s => s.StateName, new { @class = "form-control", placeholder = "State Name" })
                <span class="text-danger">@Html.ValidationMessageFor(s => s.StateName)</span>
            </div>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            }


        </div>
    </div>

</div>
